:root {
  /* Color  */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* Size */
  --side-padding: 12px;
  /* 작은 이미지 사이즈 */
  --avatar-size: 36px;

  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

ul {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

button,
button:focus {
  /* 투명하게 처리 */
  border: none;
  /* 커서 그림 바꾸기 */
  cursor: pointer;
  /* 외각 라인 삭제 */
  outline: none;

  background-color: var(--white-color);
}

header {
  display: flex;
  justify-content: space-between;
  padding: var(--side-padding);
  background-color: var(--black-color);
  color: var(--white-color);
}

header .logo {
  font-size: var(--font-large);
  font-weight: bold;
}

header .logo i {
  color: var(--red-color);
}

header .icons .fa-search {
  margin-right: var(--side-padding);
}

/* SASS & LESS */
/* .header{
   .logo{

   }

   .icons{}
} */

/*Video Playr*/
.player {
  /* 동영상화면 고정으로 변경 */
  position: sticky;
  /* 고정할때 히트(알려주어야함 ) */
  top: 0;
  text-align: center;
  background-color: var(--black-color);
}

.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 600px;
}

body > .info {
  padding: var(--side-padding);
}

.info .metadata .hashtags {
  display: flex;
  font-size: var(--font-small);
  color: var(--blue-color);
}

.info .metadata .hashtags li {
  margin-right: var(--side-padding);
}

.info .metadata .titleAndButton {
  display: flex;
}

.info .metadata .titleAndButton .title {
  /*한줄  고정 넘을 경우에는 .... vytl */
  /* EXAMPLE */
  font-size: var(--font-medium);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  margin-right: var(--side-padding);
}

.info .metadata .titleAndButton .morebtn {
  /* 버튼 위로  고정 */
  height: 100%;
}

.info .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

/* Action Buttons */
.info .actions {
  display: flex;
  justify-content: space-around;
  margin: var(--side-padding) 0;
}

.info .actions button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.info .actions button i {
  margin: 0 auto;
  /* 나눗기 할때 사용 */
  margin-bottom: calc(var(--side-padding) / 2);
  font-size: 16px;
}

.info .actions button i.active {
  color: var(--blue-color);
}

.info .channel {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
}

.info .channel .metadata {
  display: flex;
  align-items: center;
}

.info .channel .metadata .info {
  display: flex;
  flex-direction: column;
}

.info .channel .metadata img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  /* 이미지 원으로 처리 */
  border-radius: 50%;
}

.info .channel .metadata .info .name {
  font-size: var(--font-medium);
}

.info .channel .metadata .info .subscribers {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.info .channel .subscribe {
  /* 소문자 -> 데문자 처리 */
  text-transform: uppercase;
  color: var(--red-color);
  font-size: var(--font-medium);
}

/* Up Next */
.upNext {
  padding: 0 var(--side-padding);
}
/* 바로 자식에 효과 적용 */
.upNext > .title {
  font-size: var(--font-medium);
  color: var(--grey-dark-color);
  margin-bottom: calc(var(--side-padding) / 2);
}

.upNext .item {
  display: flex;
  margin-top: var(--side-padding);
}
/* 화면 간격 구성 */
.upNext .item .img {
  flex: 1 1 35%;
  margin-right: var(--side-padding);
}
/* 이미지 간격 채우기 */
.upNext .item .img img {
  width: 100%;
}

.upNext .item .info {
  flex: 1 1 60%;
}

.upNext .item .morebtn {
  flex: 1 1 5%;
}

.upNext .item .info {
  display: flex;
  flex-direction: column;
}

.upNext .item .info .title {
  font-size: var(--font-small);
}

.upNext .item .info .name,
.upNext .item .info .views {
  font-size: var(--font-micro);
}

.infoAndUpNext {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .infoAndUpNext {
    flex-direction: row;
    min-width: var(--side-padding);
  }
}
